<div{{ attributes }}>
    <!-- component HTML -->
    <div class="card">
        <img src="{{ this.img }}" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">{{ this.title }}</h5>
             {% block content %}{% endblock %}
            <a href="{{ this.link }}" class="btn btn-primary">{{ this.label }}</a>
        </div>
    </div>
</div>
